<!--
This form is for each question in the assessment. Each radio button corresponds
to the answer, so the default behavior is that only one can be choosen at a
time. Local ruby varialbles:
- position: question number
- question: the question being assessed
- qf: the fields for this specific question
-->

<p id=<%= "question_error" << position.to_s %>></p>
<h2 class="pds-blue-color-light text-center"><%= "Question " << position.to_s %></h2>
<br/>
<p class="question-content"><%= question.question %></p>
<br/>
<hr class="question-divider pds-blue-color-background-light">
<br/>

<div class="row">
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'always', :checked => false %> 
        <%= label :answer, 'Always' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'often', :checked => false %> 
        <%= label :answer, 'Often' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'sometimes', :checked => false %> 
        <%= label :answer, 'Sometimes' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'rarely', :checked => false %> 
        <%= label :answer, 'Rarely' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'never', :checked => false %> 
        <%= label :answer, 'Never' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'does not apply', :checked => false %> 
        <%= label :answer, 'Does Not Apply' %>
    </div>
</div>
<br/>
<% if position == count %>
    <%= submit_tag "Finish", :name => nil, :class => "btn btn-default pds-blue-color-background-light white-text center-block", :style => "width: 100px;" %>
<% else %>
    <a href="" onclick="nextPage(); return false;" class="btn btn-default pds-blue-color-background-light white-text center-block" style="width: 100px;">Next</a>
<% end %>
