<p id=<%= "question_error" << position.to_s %>></p>
<h2 class="pds-blue-color-light text-center"><%= "Question " << position.to_s %></h2>
<br/>
<p class="text-center question-content"><%= question.question %></p>
<hr class="question-divider pds-blue-color-background-light">

<div class="row">
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'always', :checked => false %> 
        <%= label :answer, 'Always' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'often', :checked => false %> 
        <%= label :answer, 'Often' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'sometimes', :checked => false %> 
        <%= label :answer, 'Sometimes' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'rarely', :checked => false %> 
        <%= label :answer, 'Rarely' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'never', :checked => false %> 
        <%= label :answer, 'Never' %>
    </div>
    <div class="col-xs-2">
        <%= qf.radio_button :answer, 'does not apply', :checked => false %> 
        <%= label :answer, 'Does Not Apply' %>
    </div>
</div>
<br/>
<% if position == count %>
    <%= submit_tag "Next", :name => nil, :class => "btn btn-default btn-default pds-blue-color-background-light white-text pull-right" %>
<% else %>
    <a href="" onclick="nextPage(); return false;" class="btn btn-default pds-blue-color-background-light white-text pull-right">Next</a>
<% end %>
