
<!-- Custom Breadcrumbs -->
<div id="custom-breadcrumb">
    <ul class="crumbs">
        <li class="first finished-step"><a class="visited" href="#" style="z-index:9;">Select Competency</a></li>
        <li class="finished-step"><a href="#" style="z-index:8;">Assessment Questions</a></li>
        <li><a href="#" style="z-index:7;">View Results</a></li>
    </ul>
</div>
<br>


<h1 class="pds-blue-color">Take the assessment</h1>

<%= form_tag(generate_assessment_report_path(competency: @competency), method: :post) do %>
    <% position = 1 %>
    <% @questions.each do |question| %>
        <%= fields_for "questions[]", question do |qf| %>
            <div class="row" style="display: none;" id=<%= "question" << position.to_s %>>
                <div class="col-xs-12">
                    <%= render 'progress_bar', {position: position, count: @count} %>
                    <%= render 'question_form', {question: question, position: position, count: @count, qf: qf} %>
                </div>
            </div>
        <% end %>
        <% position = position + 1 %>
    <% end %>
<% end %>

<script type="text/javascript">
    position = 1;
    var nextPage = function() {
        old_q = "question" + position;
        var inputs = $("#" + old_q + " input");
        var checked = false;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                checked = true;
            }
        };
        if (checked) {
            position++;
            new_q = "question" + position;
            $("#" + old_q).hide();
            $("#" + new_q).show();
        } else {
            $("#question_error" + position).html("Please select an option");
        }
    }
    $(function() {
        $("#question1").show();
    })
</script>