<!-- This is the signin page for an admin. -->

<h1 class="pds-color-font">Administrator Sign In</h1>
<%= form_for @user, method: :post, url: login_path do |f| %>
  <% if !flash[:notice].blank? %>
    <div id="error_explanation">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-4 col-xs-offset-4">
      <%= f.label :username %><br>
      <%= f.text_field :username, :class => "form-control" %>
    </div>
  </div>
    <div class="row">
    <div class="form-group col-xs-4 col-xs-offset-4">
      <%= f.label :password %><br>
      <%= f.text_field :password, :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="actions col-xs-12">
      <%= f.submit "Sign In", :class => "pds-blue-color-background-light white-text btn btn-xs pull-right" %>
    </div>
  </div>
<% end %>