<!--
This partial represents the form fields for associating a resource to an
indicator.
-->

  <div class="row" style = "background-color: #bbb; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
  <div class="row col-xs-12">
  <!-- x icon to remove -->
  <%= f.link_to_remove(" (X)") %>

    <div class="form-group col-xs-12">
      <%= f.collection_select :indicator_description, @competency.indicators, :description, :description, {:prompt => "Select Indicator..."}, {:class => "form-control"} %>
    </div>
    <% if session[:upload] %>
      <!--
      If the user originally used the CSV upload method, then this will display
      all the resources the the system pulled from the uploaded resource file.
      They are saved in an indicator attr_accessor called uploaded_resource_name.
      -->
      <a class="pointer pull-right btn btn-xs pds-color-font-light" onclick="showForm(this)">Select Uploaded Resource</a>
      <div style="display: none;">
      <div class="row col-xs-12">
        <div class="form-group col-xs-12">
          <%= f.collection_select :uploaded_resource_name, @uploaded_resource_options, :name, :name, {:prompt => "Select Resource..."}, {:class => "form-control"}  %>
        </div>
      </div>
      </div>
    <% end %>

    <!--
  This will show the div that allows a user to add to the indicator a resource
  that already exists in the system.
  -->
  <a class="pointer pull-right btn btn-xs pds-color-font-light" onclick="showForm(this)">Add Existing Resource</a>
  <div style="display: none;">
  <div class="row col-xs-12">
    <div class="form-group col-xs-12">
      <%= f.label "Select Resource" %>
      <%= f.collection_select :resource_id, @resource_options, :id, :name, {:prompt => "Select Resource..."}, {:class => "form-control"}  %>
    </div>
  </div>
  </div>

  <!--
  This will show the div that allows a user to create a new resource to add
  to the indicator.
  -->
  <a class="pointer pull-right btn btn-xs pds-color-font-light" onclick="showForm(this)">Create New Resource</a>
  <div style="display: none;">
    <div class="form-group col-xs-12">
      <%= f.label "Name" %>
      <%= f.text_field :resource_name, :placeholder => "Resource Name", :class => "form-control" %>
  </div>
    <div class="row col-xs-12">
    <div class="form-group col-xs-12">
      <%= f.label "Description" %>
      <%= f.text_field :resource_description, :placeholder => "Resource Description", :class => "form-control" %>
    </div>
  </div>
    <div class="row col-xs-12">
    <div class="form-group col-xs-6">
      <%= f.label "Category" %>
      <%= f.collection_select :resource_category, Resource.get_categories.uniq, :resource_category, :resource_category, {}, {:class => "form-control"} %>
    </div>
    <div class="form-group col-xs-4">
      <%= f.label "Link" %>
      <%= f.text_field :resource_link, :placeholder => "Resource Link", :class => "form-control" %>
    </div>
  </div>
  </div>
  </div>

  </div>

<script type="text/javascript">

var showForm = function(div) {
  var form = div.nextSibling.nextSibling;
  if(form.style.display == 'block') {
      form.style.display = 'none';
  } else {
      form.style.display = 'block';
  }


}
</script>