<!--
This view handles the creation of indicators to the competency. It relies on
the indicator_fields partial to render the form fields.
-->

<h2 class="pds-color-font">Create a Competency: <%=session[:competency]["name"]%></h2>

<%= simple_nested_form_for @competency, url: wizard_path, method: :put do |competency_form| %>
    <div id="competency_indicators">
      <%= competency_form.simple_fields_for :indicators, :wrapper_html => { :class => "form-inline"} do |indicator_form| %>
        <%= render :partial => "indicator_fields", :locals => { :f => indicator_form } %>
      <% end %> 
      <p>
        <br /><%= competency_form.link_to_add("Add Additional Indicator", :indicators, :class => 'btn btn-xs pds-color-background-light white-text') %>
      </p>
    </div>
    <div class="form-actions">
      <%= competency_form.submit 'Next Page', :class => 'btn btn-xs pds-color-background-light white-text pull-right' %>
    </div>
  <% end %>