<h2 class="pds-color-font">Create a Competency: <%=session[:competency]["name"]%></h2>
<%= simple_nested_form_for @competency, url: wizard_path, method: :put do |competency_form| %>

        <div id="competency_indicator_resources">
          <%= competency_form.simple_fields_for :indicator_resources do |indicator_resource_form| %>
          <% end %> 
        </div> 

        <!--Resource Indicator-->

      <div id="competency_indicator_resources">
          <%= competency_form.simple_fields_for :indicator_resources do |indicator_resource_form| %>
            <%= render :partial => "resource_fields", :locals => { :f => indicator_resource_form } %>
          <% end %> 
          <p>
            <%= competency_form.link_to_add("Add New Resource", :indicator_resources, :class => 'btn btn-xs pds-color-background-light white-text') %>
          </p>
        </div>
    <div class="form-actions">
      <%= competency_form.submit 'Next', :class => 'btn btn-xs pds-color-background-light white-text' %>
    </div>
  <% end %>