<div class="row">
  <div class="col-xs-3">
    <h2 class="pds-color-font">Upload CSV</h2>
  </div>
  <div class="col-xs-9">
    <%= simple_form_for @competency, url: competency_upload_path, method: :put, :class => "form-horizontal", html: {multipart: true} do |competency_form| %>
      <div class="form-group">
        <label class=" col-xs-4">Choose indicators file:</label>
        <%= file_field_tag :indicators %>
      </div>
      <div class="form-group">
        <label class=" col-xs-4">Choose resources file:</label>
        <%= file_field_tag :resources %>
      </div>
      <div class="form-group">
        <label class=" col-xs-4">Choose relationships file:</label>
        <%= file_field_tag :relationships %>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <%= competency_form.submit 'Upload', :class => 'btn btn-xs pds-color-background-light white-text' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title inline">Templates</h3>
        <div class="inline">
          <a href="#" data-toggle="tooltip" data-placement="right" title="Use these templates to help you format the excel spreadsheets for upload."><%= image_tag("tooltip.png", :alt => "Hint", class: "tool-tip-img") %></a>
        </div>

      </div>
      <div class="panel-body">
        The CSV files you upload need to follow a certain format. If you need the templates, download them here:<br>
        <%= link_to "Indicators Template", template_downloader_path(filename: 'Indicators_Template'), :method => :get, :class => "btn btn-default" %>&nbsp;
        <%= link_to "Resources Template", template_downloader_path(filename: 'Resource_Template'), :method => :get, :class => "btn btn-default" %>&nbsp;
        <%= link_to "Relationships Template", template_downloader_path(filename: 'Relationships_Template'), :method => :get, :class => "btn btn-default" %>&nbsp;
      </div>
    </div>
  </div>
</div>


<%= render 'partials/tooltip' %>
