<!--
This page is the landing page for the "Manage a Competency" in the navbar. It
lists the current competencies in the system, and gives the option to create a
new competency.
-->

<h1 class="pds-color-font">Manage a Competency</h1></br>

<table class="table table-hover table-expandable" >
  <thead class="pds-color-background-light white-text">
    <tr>
      <th>Competencies</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= competency.name %></td>
        <td><%= link_to 'Show', competency %></td>
        <td><%= link_to 'Edit', edit_competency_path(competency) %></td>
        <td><%= link_to 'Destroy', competency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New competency', new_competency_path, :class => "btn btn-xs pds-color-background-light white-text" %>