<!-- This view lets a user choose which level to view for a given competency. -->

<!-- Custom Breadcrumbs -->
<div id="custom-breadcrumb">
    <ul class="crumbs">
        <li class="first finished-step-red"><a class="visited" href="#" style="z-index:9;">Select Competency</a></li>
        <li class="finished-step-red"><a href="#" style="z-index:8;">Select Level</a></li>
        <li><a href="#" style="z-index:7;">Indicators & Resources</a></li>
    </ul>
</div>
<br>

<h1 class="pds-color-font">Select a Level</h1>

<br>

<!-- Selection Dropdown menu for choosing a Level -->
<div class="inline">
	<%= form_tag(view_all_ind_res_step_path, method: :get) do %>
	  <%= hidden_field_tag :competency_id , @competency.id %>
	  <%= select_tag :level, options_for_select(["Contributor", "Companion", "Champion"]), {include_blank: 'None'} %>
	  <%= submit_tag "Next", :name => nil, :class => "btn btn-default btn-xs pds-color-background-light white-text" %>
	<% end %>
</div>

<div class="inline">
	<a href="#" data-toggle="tooltip" data-placement="right" title="There are 3 levels: Contributor, Companion, Champion. They represent how well a person has mastered a competency. Every competency has these 3 levels."><%= image_tag("tooltip.png", :alt => "Hint", class: "tool-tip-img") %></a>
</div>


<%= render 'partials/tooltip' %>
