<!--
This view is the report format method that allows a user to look at all
competency information in the system on one page.
-->

<h1 class="pds-color-font">All Stored Data</h1>

<div id="right-tooltip">
  <a href="#" data-toggle="tooltip" data-placement="right" title="This page displays all of the stored data in the system: all competencies, the indicators nested within each, and the resources associated with each indicator. Click Export to PDF to download a pdf file with anything displayed on the screen."><%= image_tag("tooltip.png", :alt => "Hint", class: "tool-tip-img") %></a>
</div>

<%= link_to 'Generate PDF', view_all_report_format_path(format: "pdf"), :class => "btn btn-default btn-large pds-color-background-light white-text pull-right"%>


<% @competencies.each do |competency| %>
<h2>Competency: <%= competency.name %></h2>
<table class="table" >
  <thead class="pds-color-background-light white-text">
    <tr>
      <th>Indicator Description</th>
      <th>Level</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.by_competency(competency.name).each do |indicator| %>
	    <tr>
	    	<td><b>Indicator: <%= indicator.description %></b></td>
	        <td><%= indicator.level %></td>
	        <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
	        <td><%= link_to 'Delete', indicator, method: :delete, data: { confirm: 'Are you sure you want to delete this indicator?' } %></td>
	    </tr>
	    <tr>
	  		<td colspan="5">
	  			<% if @resources.for_indicator(indicator.id).length == 0 %>
	  				<p>No resources associated with this indicator.</p>
	  			<% else %>
		  			<p>Associated Resources:</p>
					<% @resources.for_indicator(indicator.id).each do |resource| %>
					<ul>
		    			<li><%= resource.name %></li>
		    		</ul>
	    			<% end %>
	    		<% end %>
	    	</td>
	    </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<%= render 'partials/tooltip' %>