<!--
This view shows the indicators/resources for a given level for a given
competency.
-->

<!-- Custom Breadcrumbs -->
<div id="custom-breadcrumb">
    <ul class="crumbs">
        <li class="first finished-step"><a href="#" style="z-index:9;">Select Competency</a></li>
        <li class="finished-step"><a href="#" style="z-index:8;">Select Level</a></li>
        <li class="finished-step"><a href="#" style="z-index:7;">Indicators & Resources</a></li>
    </ul>
</div>
<br>


<h1 class="pds-color-font">Resources and Indicators</h1>

<div id="right-tooltip">
  <a href="#" data-toggle="tooltip" data-placement="right" title="Each level nested within a competency has a set of unique indicators. Each indicator can be mapped to one or many resources."><%= image_tag("tooltip.png", :alt => "Hint", class: "tool-tip-img") %></a>
</div>

<table class="table table-hover table-expandable" >
  <thead class="pds-color-background-light white-text">
    <tr>
      <th>Level</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
	    <tr>
	        <td><%= indicator.level %></td>
	        <td><%= indicator.description %></td>
	        <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
	        <td><%= link_to 'Delete', indicator, method: :delete, data: { confirm: 'Are you sure you want to delete this indicator?' } %></td>
	    </tr>
	    <tr>
	  		<td colspan="5">
	  			<h4>Associated Resources</h4>
				<% @resources.for_indicator(indicator.id).each do |resource| %>
				<ul>
	    			<li><%= resource.name %></li>
	    		</ul>
	    		<% end %>
	    	</td>
	    </tr>
    <% end %>
  </tbody>
</table>


<%= render 'partials/tooltip' %>
