<form class="form-inline">
    <div class="form-group">
        <label for="competency">Competency</label>
        <select class="form-control" id="competency" onchange="filterResources()">
          <option value=" "> </option>
          <% @competencies.each do |competency| %>
              <option value=<%= competency.name %>><%= competency.name %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
        <label for="level">Level</label>
        <select class="form-control" id="level" onchange="filterResources()">
          <option value=" "> </option>
          <% @levels.each do |level| %>
              <option value=<%= level %>><%= level %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <select class="form-control" id="active" onchange="filterResources()">
          <option value=true>True</option>
          <option value=false>False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" onchange="filterResources()">
          <option value=" "> </option>
          <% @categories.each do |category| %>
              <option value=<%= category.resource_category %>><%= category.resource_category %></option>
          <% end %>
        </select>
    </div>
</form>