<div id="filterrific_results">
  <table class="table table-bordered" id="resource_table">
    <thead>
      <tr class="row">
        <th class="col-xs-4">Name</th>
        <th class="col-xs-1">Type</th>
        <th class="col-xs-2">Description</th>
        <th class="col-xs-1">Link</th>
        <th class="col-xs-1"></th>
        <th class="col-xs-1"></th>
        <th class="col-xs-1"></th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>

    <tbody id="resource_table_body">
      <% @resources.each do |resource| %>
        <tr class="row">
          <td class="col-xs-4 text-overflow" name="name"><%= resource.name %></td>
          <td class="col-xs-1"><%= resource.resource_category %></td>
          <td class="col-xs-2"><%= resource.description %></td>
          <td class="col-xs-1"><%= resource.link %></td>
          <% if resource.active %>
            <td class="col-xs-1">Active</td>
          <% else %>
            <td class="col-xs-1">Inactive</td>
          <% end %>
          <td class="col-xs-1"><%= link_to 'Show', resource %></td>
          <td class="col-xs-1"><%= link_to 'Edit', edit_resource_path(resource) %></td>
          <td class="col-xs-1"><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>