<div id="filterrific_results">
  <table class="table table-bordered" id="resource_table">
    <thead class="pds-color-background-light white-text">
      <tr class="row">
        <th class="col-xs-6"><%= filterrific_sorting_link(@filterrific, :name) %></th>
        <th class="col-xs-1"><%= filterrific_sorting_link(@filterrific, :resource_category) %></th>
        <th class="col-xs-3">Description</th>
        <th class="col-xs-1">Active</th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>

    <tbody id="resource_table_body">
      <% @resources.each do |resource| %>
        <tr class="row">
          <td class="col-xs-6 text-overflow" name="name"><%= resource.name %></td>
          <td class="col-xs-1"><%= resource.resource_category %></td>
          <% if resource.description != "" %>
            <td class="col-xs-3"><%= resource.description %></td>
          <% else %>
            <td class="col-xs-3">N/A</td>
          <% end %>
          <% if resource.active %>
            <td class="col-xs-1">Active</td>
          <% else %>
            <td class="col-xs-1">Inactive</td>
          <% end %>
          <td class="col-xs-1"><%= link_to 'View', resource %> | <%= link_to 'Edit', edit_resource_path(resource) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @posts %>
</div>