<h1 class="pds-color-font">View Resource</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Resource Category:</strong>
  <%= @resource.resource_category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<p>
  <strong>Active:</strong>
  <%= @resource.active %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
