<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>

    <title>PDS Competency Assessment</title>

  </head>

  <body>
  	<% if logged_in_user? %>
      <%= render 'layouts/admin' %>
    <% else %>
      <%= render 'layouts/user' %>
    <% end %>
    <script>
$(".nav li").on("click", function(){
  $(".nav .nabar-nav").find(".active").removeClass("active");
  $(this).parent().addClass("active");
});
</script>


  	<!-- Yield page content here --> 
    <div class="container" >
      <div class="page-container" >
    	 <%= yield %>
      </div>

      <!-- Footer -->
      <hr>
      <footer>
        <p>Created by 373 Team 12: James Ormond, Jennifer Han, Maddie Duque</p>
      </footer>
    </div><!-- /.container -->


  </body>
</html>
